@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  height: 100%;
  width: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.conteiner {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin', cursive;
  font-size: 4.5rem;
  line-height: 1.42;
  margin: 0; }

.button {
  color: #fff;
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: none;
  cursor: pointer; }

.burger {
  background-image: url(../img/bg/burger_bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin-right: auto; }

.button_header {
  background-color: #e25028; }
  .button_header:hover {
    background-color: #cb411b; }

.logo {
  display: block; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 15px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    color: #f8b43a; }

.burger__conteiner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.8125rem 0 2.5rem 0; }

.burger__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__pic,
.burger__desc {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burger__desc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.burger__text {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-size: 4.0625rem;
  line-height: 0.9;
  margin-top: 20px; }

.arrow__link {
  display: block; }

.best {
  background-image: url(../img/bg/best-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.best__conteiner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title_best {
  padding: 0;
  color: #2f3234;
  margin-bottom: 55px;
  text-align: center; }

.best__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.best__content {
  width: 100%; }

.best__item {
  width: 15.625rem; }

.best__pic {
  text-align: center;
  margin-bottom: 33px; }

.best__desc {
  color: #2f3234;
  text-align: center; }

.best__name {
  font-family: "Lifehack", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 25px; }

.best__text {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0.6; }

.team {
  background-image: url(../img/bg/bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.team__wrapper {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.7); }

.team__content {
  width: 65%; }

.section__title_team {
  margin-bottom: 2.875rem; }

.teammate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.1875rem;
  height: 0;
  overflow: hidden; }

.teammate__info_active {
  height: 6.875rem; }

.teammate__name {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  color: #fff;
  margin-bottom: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .teammate__name:before {
    -ms-flex-item-align: end;
    align-self: flex-end;
    content: '';
    display: inline-block;
    border-top: 5px solid #f8b43a;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 10px; }

.teammate__name_active {
  color: #f8b43a; }
  .teammate__name_active:before {
    -ms-flex-item-align: center;
    align-self: center;
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-top: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 10px; }

.teammate__icon {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  padding-left: 0.625rem; }

.teammate__desc,
.teammate__text {
  width: 80%;
  font-family: "Ubuntu";
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.teammate__prof {
  font-weight: 700;
  margin-bottom: 0.3125rem; }

.teammate__text {
  font-weight: 300; }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }

.reviews__photo {
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 100%; }

.reviews__content {
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem 1.875rem 3.125rem 1.875rem;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .reviews__content:hover {
    opacity: 1;
    background-color: rgba(22, 22, 22, 0.7); }

.reviews__title {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.5625rem; }

.reviews__desc {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  margin-bottom: 1.0625rem; }

.button_reviews {
  background-color: #2f3234; }
  .button_reviews:hover {
    background-color: black; }

.nav-dottbar {
  position: fixed;
  top: 15%;
  right: 4%; }

.dottbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.dottbar__item {
  margin-bottom: 0.625rem; }
  .dottbar__item:last-child {
    margin-bottom: 0; }

.dottbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .dottbar__link:hover {
    border-color: #fff; }
  .dottbar__link:hover .link {
    background-color: #f8b43a; }

.dottbar__link_active {
  border-color: white; }

.link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.link_active {
  background-color: #f8b43a; }
