.best {
    background-image: url(/img/bg/best-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.best__content {
    margin-top: 9.9375rem;
}

.section__title_best {
    padding: 0;
    color: $dark;
    margin-bottom: 55px;
    text-align: center;
}

.best__list {
    display: flex;
}

.best__item {
    width: rem(300px);
    justify-content: center;
    align-items: center;
}

.best__pic {
    text-align: center;
    margin-bottom: 33px;
}

.best__desc {
    color: $dark;
    text-align: center;
}

.best__name {
    font-family: "Lifehack", Arial, Helvetica, sans-serif;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: 25px;
}

.best__text {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: 300;
    opacity: 0.6;
}