.burger {
    background-image: url(../img/bg/burger_bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    display: flex;
}

.header__logo {
    margin-right: auto;
}

.button__all {
    background-color: $orange;
    &:hover {
        background-color: darken($orange, 7%);
    }
}

.logo {
    display: block;
}

.burger__img {
    max-width: 100%;
}

.nav {
    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

.nav__list {
    display: flex;
    margin-right: rem(16px);
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        @include circle(5px, #fff);
        margin: 0 15px;
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: $white;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        color: $yellow;
    }
}

.burger__conteiner {
    height: 100%;
    display: flex;
    padding: rem(13px) 0 rem(40px) 0;
    @include tablets {
        
    }
}

.burger__content {
    width: 100%;
    display: flex;
    flex-grow: 0.8;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        text-align: center;
        margin-bottom: rem(50px);
    }
}

.burger__pic,
.burger__desc {
    width: 50%;
}

.burger__pic {
    width: 100%;
}

.burger__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: rem(40px);
    @include tablets {
        padding-top: 0;
        align-items: center;
    }
}

.burger__text {
    font-family: 'Lifehack', Arial, Helvetica, sans-serif;
    font-size: rem(65px);
    line-height: 0.9;
    margin-top: 20px;
    @include tablets {
        margin-top: 0;
    }
    @include phones {
        font-size: rem(58px);
    }
    @include mobiles {
        font-size: rem(46px);
    }
}

.section__title_burger {
    @include mobiles {
        white-space: nowrap;
        font-size: rem(55px);
    }
    @include phones {
        white-space: nowrap;
    }
}

.arrow__link {
    display: block;
}