.nav-dottbar {
    position: fixed;
    top: 15%;
    right: 4%;
    @include tablets {
        display: none;
    }
}

.dottbar__list {
    display: flex;
    flex-direction: column;
}

.dottbar__item {
    margin-bottom: rem(10px);
    &:last-child {
        margin-bottom: 0;
    }
}

.dottbar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .5s;
    &:hover {
        border-color: $white;
    }
    &:hover .link {
        background-color: $orange;

    }
}

.dottbar__link_active {
    border-color: white;
}

.link {
    display: block;
    @include circle(6px, $white);
    transition: .5s;
}

.link_active {
    background-color: $orange;
}