.full-screen {
    display: none;
    @include tablets {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        min-height: 100%;
        background-color: $dark;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &_active {
        @include tablets {
            display: flex;
        }
    }
}

.full-screen__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.full-screen__nav {
    display: flex;
    align-items: flex-end;
    flex-grow: 0.3;
}

.full-screen__logo {
    margin-left: rem(21px);
}

.full-screen__link {
    display: block;
    text-decoration: none;
    color: $white;
    transition: .5s; 
}

.full-screen__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: rem(24px);
    text-transform: uppercase;
    &:before {
        display: flex;
        content: '';
        width: rem(6px);
        height: rem(6px);
        background-color: $white;
        border-radius: 50%;
        margin: rem(25px) 0;
    }
    &:first-child:before {
        display: none;
    }
}

.humburger-menu {
    position: relative;
    margin: 0 rem(20px) 0 rem(35px);
    display: none;
    @include tablets {
        display: block;
        &_close {
            margin: rem(55px) rem(40px) 0 0;
            @include phones {
                margin-right: rem(35px);
            }
        }
    }
}

.humburger-menu__layer {
    width: rem(45px);
    height: rem(6px);
    background-color: #fff;
    margin-bottom: rem(9px);
    border-radius: rem(2px);
    &:last-child {
        margin-bottom: 0;
    }
}

.humburger-menu__layer_close1 {
    transform: rotate(45deg);
    margin-bottom: 0;
}

.humburger-menu__layer_close2 {
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
}