.menu {
    background-image: url(../img/bg/menu-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    &__list {
        display: flex;
        height: 100%;
        position: relative;
    }
    &__item {
        display: flex;
        &_active {
            .menu__title {
                color: $yellow;
            }
            .menu__content {
                width: rem(540px);
                @include tablets {
                    width: rem(511px);
                }
                @include phones {
                    width: rem(270px);
                }
                @include mobiles {
                    width: rem(206px);
                }
            }
        }
    }
    &__trigger {
        display: flex;
        align-items: flex-end;
        width: rem(80px);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: rem(45px);
        text-decoration: none;
        @include phones {
            width: rem(65px);
        }
        @include mobiles {
            width: rem(38px)
        }
    }
    &__title {
        font-family: 'Gagalin', Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: #fff;
        transform: rotate(-90deg);
        white-space: nowrap;
        width: 100%;
        @include mobiles {
            font-size: rem(27px);
        }
    }
    &__content {
        width: 0;
        overflow: hidden;
        background-color: rgba(#2f3234, .93);
        transition: width 2s;
    }
    &__text {
        font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
        font-size: rem(14px);
        font-weight: 300;
        line-height: rem(25px);
        padding: rem(60px) rem(35px);
        min-width: rem(540px);
        @include phones {
            min-width: rem(275px);
            padding: rem(60px) rem(20px);
        }
        @include mobiles {
            min-width: rem(220px);
            font-size: rem(12px);
            padding: rem(35px) rem(20px);
        }
    }
}

.section__title_menu {
    color: $white;
    position: absolute;
    top: 11%;
    left: 14%;
    @include tablets {
        top: 5%;
        left: 10%;
    }
    @include tablets {
        font-size: rem(50px);
    }
}