.menu {
    background-image: url(../img/bg/menu-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.section__title_menu {
    color: $white;
    position: absolute;
    top: 11%;
    left: 14%;
}

.menu__list {
    display: flex;
    height: 100%;
}

.menu__item {
    height: 100%;
    width: rem(90px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.menu__item_meat {
    background-image: url(../img/content/for-meat.png);
}

.menu__item_vegan {
    background-image: url(../img/content/for-vegan.png);
}

.menu__item_diet {
    background-image: url(../img/content/for-diet.png);
}

.menu__triger {
    display: flex;
    transform: rotate(-90deg);
    text-decoration: none;
}

.menu__name {
    font-family: "Gagalin", Arial, Helvetica, sans-serif;
    font-size: rem(40px);
    font-weight: normal;
    color: $white;
    width: 100vh;
    text-align: left;
    padding-left: 40px;
}

.menu__info {
    display: flex;
}