.reviews {
    position: relative;
    height: 100%;
}

.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap
}

.reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.reviews__photo {
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}

.reviews__content {
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: rem(50px) rem(40px);
    opacity: 0;
    transition: .5s;
    &:hover {
        opacity: 1;
        background-color: rgba(22, 22, 22, 0.7);
    }
    @include tablets {
        text-align: center;
        padding: rem(25px) rem(50px);
    }
    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: rem(50px) rem(50px);
    }
    @include mobiles {
        padding: rem(50px) rem(15px);
    }
}

.reviews__title {
    font-family: "Gagalin", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(25px);
    @include phones {
        font-size: rem(20px);
    }
}

.reviews__desc {
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-size: rem(13px);
    font-weight: 300;
    margin-bottom: rem(17px);
    @include phones {
        display: none;
    }
}

.button_reviews {
    background-color: $dark;
    &:hover {
        background-color: black;
    }
    @include phones {
        display: none;
    }
}

.button_adaptive {
    display: none;
    background-color: $dark;
    &:hover {
        background-color: black;
    }
    @include phones {
        display: flex;
    }
}