.team {
    background-image: url(../img/bg/tm-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    justify-content: flex-end;
}

.team__wrapper {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.7);
}

.team__content {
    width: 65%;
}

.section__title_team {
    margin-bottom: rem(46px);
}

.teammate__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: rem(25px);
    height: 0;
    overflow: hidden;
}

.accordeon__item_active {
    .teammate__info {
        height: rem(110px);
    }
    .teammate__name {
        color: $yellow;
        &:before {
            align-self: flex-start;
            transform: rotate(180deg);
        }
    }
}

.teammate__name {
    font-family: "Gagalin", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: normal;
    color: $white;
    margin-bottom: rem(20px);
    display: flex;
    text-decoration: none;
    &:before {
        display: flex;
        align-self: flex-end;
        content: '';
        border-top: 5px solid $yellow;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-right: 10px;
    }
}

.teammate__icon {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    margin: 0 rem(15px);
}

.teammate__desc {
    width: 80%;
    font-family: "Ubuntu";
    color: $white;
    font-size: rem(14px);
}

.teammate__prof {
    font-weight: 700;
    margin-bottom: rem(5px);
}

.teammate__text {
    font-weight: 300;
}