.team {
    background-image: url(../img/bg/tm-bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    justify-content: flex-end;
}

.team__wrapper {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.7);
    @include tablets {
        flex-basis: 100%;
    }
}

.team__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
}

.section__title_team {
    margin-bottom: rem(50px);
    @include tablets {
        text-align: center;
    }
}

.teammate__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.accordeon__item_active {
    .teammate__name {
        color: $yellow;
        &:before {
            transform: rotate(180deg);
        }
    }
}

.teammate__wrap {
    height: 0;
    transition: 1s;
    overflow: hidden;
}

.teammate__name {
    font-family: "Gagalin", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    font-weight: normal;
    color: $white;
    margin-bottom: rem(20px);
    display: flex;
    text-decoration: none;
    cursor: pointer;
    &:before {
        display: flex;
        align-self: center;
        content: '';
        border-top: rem(5px) solid $yellow;
        border-bottom: rem(5px) solid transparent;
        border-left: rem(5px) solid transparent;
        border-right: rem(5px) solid transparent;
        margin-right: rem(10px);
    }
    @include tablets {
        font-size: rem(23px);
    }
}

.teammate__icon {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    margin: 0 rem(15px);
    @include tablets {
        margin: 0 0 rem(15px) 0;
    }
}

.teammate__desc {
    width: 80%;
    font-family: "Ubuntu";
    color: $white;
    font-size: rem(14px);
}

.teammate__prof {
    font-weight: 700;
    margin-bottom: rem(5px);
    @include tablets {
        margin-bottom: 0;
    }
}

.teammate__text {
    font-weight: 300;
    width: 75%;
    @include tablets {
        text-align: center;
    }
}

.accordeon__item,
.teammate__desc {
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.accordeon__item {
    margin-bottom: rem(25px);
}